### Import your libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Load your dataset

In [2]:
df = pd.read_csv('HR_Missing_Vslues.csv')

In [3]:
df

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
0,"Adinolfi, Wilson K",10026,62506.0,19,Production Technician I,07/10/83,M,Single,White,7/5/2011,NaN,Production,Michael Albert,22.0,LinkedIn,1.0
1,"Ait Sidi, Karthikeyan",10084,104437.0,27,Sr. DBA,05/05/75,M,Married,White,3/30/2015,6/16/2016,IT/IS,Simon Roup,4.0,Indeed,17.0
2,"Akinkuolie, Sarah",10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,9/24/2012,Production,Kissy Sullivan,20.0,LinkedIn,3.0
3,"Alagbe,Trina",10088,64991.0,19,Production Technician I,NaN,F,Married,White,1/7/2008,NaN,Production,Elijiah Gray,16.0,Indeed,15.0
4,NaN,10069,50825.0,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,9/6/2016,Production,Webster Butler,39.0,Google Search,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,65893.0,20,Production Technician II,05/11/85,M,Single,White,7/7/2014,NaN,Production,Kissy Sullivan,20.0,LinkedIn,13.0
307,"Ybarra, Catherine",10301,48513.0,19,Production Technician I,NaN,F,Single,Asian,9/2/2008,9/29/2015,Production,Brannon Miller,12.0,Google Search,4.0
308,NaN,10010,220450.0,6,CIO,NaN,F,Single,White,4/10/2010,NaN,IT/IS,Janet King,2.0,Employee Referral,16.0
309,"Zhou, Julia",10043,89292.0,9,Data Analyst,02/24/79,F,Single,White,3/30/2015,NaN,IT/IS,Simon Roup,4.0,Employee Referral,NaN
310,NaN,10271,45046.0,19,Production Technician I,08/17/78,F,Widowed,Asian,9/29/2014,NaN,Production,David Stanley,14.0,LinkedIn,2.0

### Explore your data 

* First 5 recods
* Last 5 records 
* Check data type
* Show statistical summary 
* Is there any missing values ?
* Applay two more data analysis from your choose

In [4]:
df.head(5)

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
0,"Adinolfi, Wilson K",10026,62506.0,19,Production Technician I,07/10/83,M,Single,White,7/5/2011,NaN,Production,Michael Albert,22.0,LinkedIn,1.0
1,"Ait Sidi, Karthikeyan",10084,104437.0,27,Sr. DBA,05/05/75,M,Married,White,3/30/2015,6/16/2016,IT/IS,Simon Roup,4.0,Indeed,17.0
2,"Akinkuolie, Sarah",10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,9/24/2012,Production,Kissy Sullivan,20.0,LinkedIn,3.0
3,"Alagbe,Trina",10088,64991.0,19,Production Technician I,NaN,F,Married,White,1/7/2008,NaN,Production,Elijiah Gray,16.0,Indeed,15.0
4,NaN,10069,50825.0,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,9/6/2016,Production,Webster Butler,39.0,Google Search,2.0

In [5]:
df.tail(5)

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
306,"Woodson, Jason",10135,65893.0,20,Production Technician II,05/11/85,M,Single,White,7/7/2014,NaN,Production,Kissy Sullivan,20.0,LinkedIn,13.0
307,"Ybarra, Catherine",10301,48513.0,19,Production Technician I,NaN,F,Single,Asian,9/2/2008,9/29/2015,Production,Brannon Miller,12.0,Google Search,4.0
308,NaN,10010,220450.0,6,CIO,NaN,F,Single,White,4/10/2010,NaN,IT/IS,Janet King,2.0,Employee Referral,16.0
309,"Zhou, Julia",10043,89292.0,9,Data Analyst,02/24/79,F,Single,White,3/30/2015,NaN,IT/IS,Simon Roup,4.0,Employee Referral,NaN
310,NaN,10271,45046.0,19,Production Technician I,08/17/78,F,Widowed,Asian,9/29/2014,NaN,Production,David Stanley,14.0,LinkedIn,2.0

In [6]:
df.dtypes

Employee_Name         object
EmpID                  int64
Salary               float64
PositionID             int64
Position              object
DOB                   object
Sex                   object
MaritalDesc           object
RaceDesc              object
DateofHire            object
DateofTermination     object
Department            object
ManagerName           object
ManagerID            float64
RecruitmentSource     object
Absences             float64
dtype: object

In [7]:
df.describe

<bound method NDFrame.describe of                 Employee_Name  EmpID    Salary  PositionID  \
0         Adinolfi, Wilson  K  10026   62506.0          19
1    Ait Sidi, Karthikeyan     10084  104437.0          27
2           Akinkuolie, Sarah  10196   64955.0          20
3                Alagbe,Trina  10088   64991.0          19
4                         NaN  10069   50825.0          19
..                        ...    ...       ...         ...
306            Woodson, Jason  10135   65893.0          20
307        Ybarra, Catherine   10301   48513.0          19
308                       NaN  10010  220450.0           6
309               Zhou, Julia  10043   89292.0           9
310                       NaN  10271   45046.0          19

                     Position       DOB Sex MaritalDesc RaceDesc DateofHire  \
0     Production Technician I  07/10/83  M       Single    White   7/5/2011
1                     Sr. DBA  05/05/75  M      Married    White  3/30/2015
2    Production Technician II  09/19/88   F     Married    White   7/5/2011
3     Production Technician I       NaN   F     Married    White   1/7/2008
4     Production Technician I  09/08/89   F    Divorced    White  7/11/2011
..                        ...       ...  ..         ...      ...        ...
306  Production Technician II  05/11/85  M       Single    White   7/7/2014
307   Production Technician I       NaN   F      Single    Asian   9/2/2008
308                       CIO       NaN   F      Single    White  4/10/2010
309              Data Analyst  02/24/79   F      Single    White  3/30/2015
310   Production Technician I  08/17/78   F     Widowed    Asian  9/29/2014

    DateofTermination         Department     ManagerName  ManagerID  \
0                 NaN  Production         Michael Albert       22.0
1           6/16/2016              IT/IS      Simon Roup        4.0
2           9/24/2012  Production         Kissy Sullivan       20.0
3                 NaN  Production           Elijiah Gray       16.0
4            9/6/2016  Production         Webster Butler       39.0
..                ...                ...             ...        ...
306               NaN  Production         Kissy Sullivan       20.0
307         9/29/2015  Production         Brannon Miller       12.0
308               NaN              IT/IS      Janet King        2.0
309               NaN              IT/IS      Simon Roup        4.0
310               NaN  Production          David Stanley       14.0

     RecruitmentSource  Absences
0             LinkedIn       1.0
1               Indeed      17.0
2             LinkedIn       3.0
3               Indeed      15.0
4        Google Search       2.0
..                 ...       ...
306           LinkedIn      13.0
307      Google Search       4.0
308  Employee Referral      16.0
309  Employee Referral       NaN
310           LinkedIn       2.0

[311 rows x 16 columns]>

In [8]:
df.isna()

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
0,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
307,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
308,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False
309,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True
310,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False

In [9]:
condition = df["Sex"] == "F"

F_df = df[condition]
F_df

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
2,"Akinkuolie, Sarah",10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,9/24/2012,Production,Kissy Sullivan,20.0,LinkedIn,3.0
3,"Alagbe,Trina",10088,64991.0,19,Production Technician I,NaN,F,Married,White,1/7/2008,NaN,Production,Elijiah Gray,16.0,Indeed,15.0
4,NaN,10069,50825.0,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,9/6/2016,Production,Webster Butler,39.0,Google Search,2.0
5,NaN,10002,57568.0,19,Production Technician I,05/22/77,F,Single,White,1/9/2012,NaN,Production,Amy Dunn,11.0,LinkedIn,15.0
6,"Andreola, Colby",10194,95660.0,24,Software Engineer,05/24/79,F,Single,White,11/10/2014,NaN,Software Engineering,Alex Sweetwater,10.0,LinkedIn,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,"Wolk, Hang T",10174,60446.0,20,Production Technician II,NaN,F,Single,White,9/29/2014,NaN,Production,David Stanley,14.0,LinkedIn,NaN
307,"Ybarra, Catherine",10301,48513.0,19,Production Technician I,NaN,F,Single,Asian,9/2/2008,9/29/2015,Production,Brannon Miller,12.0,Google Search,4.0
308,NaN,10010,220450.0,6,CIO,NaN,F,Single,White,4/10/2010,NaN,IT/IS,Janet King,2.0,Employee Referral,16.0
309,"Zhou, Julia",10043,89292.0,9,Data Analyst,02/24/79,F,Single,White,3/30/2015,NaN,IT/IS,Simon Roup,4.0,Employee Referral,NaN
310,NaN,10271,45046.0,19,Production Technician I,08/17/78,F,Widowed,Asian,9/29/2014,NaN,Production,David Stanley,14.0,LinkedIn,2.0

In [10]:
condition = df["MaritalDesc"] == "Single"

MaritalDesc_df = df[condition]
MaritalDesc_df

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
0,"Adinolfi, Wilson K",10026,62506.0,19,Production Technician I,07/10/83,M,Single,White,7/5/2011,NaN,Production,Michael Albert,22.0,LinkedIn,1.0
5,NaN,10002,57568.0,19,Production Technician I,05/22/77,F,Single,White,1/9/2012,NaN,Production,Amy Dunn,11.0,LinkedIn,15.0
6,"Andreola, Colby",10194,95660.0,24,Software Engineer,05/24/79,F,Single,White,11/10/2014,NaN,Software Engineering,Alex Sweetwater,10.0,LinkedIn,19.0
8,NaN,10114,47837.0,19,Production Technician I,02/11/70,F,Single,Black or African American,7/6/2009,NaN,Production,Brannon Miller,12.0,Diversity Job Fair,4.0
13,"Barone, Francesco A",10265,58709.0,19,Production Technician I,07/20/83,M,Single,Two or more races,2/20/2012,NaN,Production,Kelley Spirea,18.0,Google Search,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,"Wolk, Hang T",10174,60446.0,20,Production Technician II,NaN,F,Single,White,9/29/2014,NaN,Production,David Stanley,14.0,LinkedIn,NaN
306,"Woodson, Jason",10135,65893.0,20,Production Technician II,05/11/85,M,Single,White,7/7/2014,NaN,Production,Kissy Sullivan,20.0,LinkedIn,13.0
307,"Ybarra, Catherine",10301,48513.0,19,Production Technician I,NaN,F,Single,Asian,9/2/2008,9/29/2015,Production,Brannon Miller,12.0,Google Search,4.0
308,NaN,10010,220450.0,6,CIO,NaN,F,Single,White,4/10/2010,NaN,IT/IS,Janet King,2.0,Employee Referral,16.0
309,"Zhou, Julia",10043,89292.0,9,Data Analyst,02/24/79,F,Single,White,3/30/2015,NaN,IT/IS,Simon Roup,4.0,Employee Referral,NaN

### Do the following steps for each column with missing values.

* Identity the column 
* How much precentage the missing value represents 
* What is the best way to handle these missing values and why
* Apply yourr method to the column

In [11]:
df.DateofTermination

0            NaN
1      6/16/2016
2      9/24/2012
3            NaN
4       9/6/2016
         ...
306          NaN
307    9/29/2015
308          NaN
309          NaN
310          NaN
Name: DateofTermination, Length: 311, dtype: object